# Dylan Jovani Reyes Rendon

## Estructura y Organizacion de Datos

In [1]:
x= 10
C= 5
print("\nLa variable x tiene el valor de : ",x)

print("\nLa variable c tiene un valor de",C)

print("\nEl valor de x es:",x, "\nY el valor de c es: ",C)

print("\nhola Mundo")

print("\nAnimo, tu puedes programador")

La variable x tiene el valor de :  10

La variable c tiene un valor de 5

El valor de x es: 10
Y el valor de c es:  5

hola Mundo

Animo, tu puedes programador

In [2]:
#Usamos el parametro "end" para especificar cual es el terminador
#de linea en una instruccion print
print("El valor de x es:",x, end=' *****')
print(" Y el valor de c es:",C)

El valor de x es: 10 ***** Y el valor de c es: 5

In [3]:
#Especificar el texto que separa los argumentos de la funcion print
#parameto "sep"
print("El valor de x es",x, sep='=')
print("Y el valor de c es",C, sep='=')

El valor de x es=10
Y el valor de c es=5

In [4]:
#Especificar separador de argumentos y el terminador de lineas
print('El Valor De x es', x , sep='=>', end='\n\n\n')
print('El valor de \'c\' es',C)

El Valor De x es=>10


El valor de 'c' es 5

In [5]:
x= 11500000
x= 115.58
x= "texto"
print(x)

texto

In [6]:
#numeros con separadores de miles
x= 11_000_000
y=8
print(x*y)

88000000

In [7]:
##Valores Octales
a= 0o1234
print(a)

668

In [8]:
##Valores hexadicimal
b= 0x1234
print(b)

4660

In [9]:
z=.5
print(z)

0.5

In [10]:
vl= 30000000
vl2= 3.1e8
print(vl,vl2)

30000000 310000000.0

In [11]:
w= 0.08e5
print(w)

8000.0

In [12]:
M= "I'm Batman"
print(M)

I'm Batman

In [13]:
print("***************")

***************

In [14]:
print("F " * 50)

F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F F

In [15]:
##Exponenciacion
print(3**5)

243

In [16]:
##Multiplicacion
print(3*3.)

9.0

In [17]:
##Division
print(10/2

SyntaxError: unexpected EOF while parsing (<ipython-input-17-b64ba0e58614>, line 2)

In [18]:
##Division Entera
print(6//3)

2

In [19]:
##Modulo
print(9%2)

1

In [20]:
##Suma
print(+2)

2

In [21]:
##Prioridad de las operaciones
print((2 + 3) * 5)

25

In [22]:
print(2 ** 2 ** 3)

256

In [24]:
##Variables
x=123
x="Hola Comapañeros"

In [25]:
TRue= 1
true=1
True

True

In [26]:
Import=1

In [27]:
cualquier_variable=1
print(cualquier_variable)

1

In [28]:
x=5
x= x ** 3
print(x)

125

In [29]:
x = 10
x /= 3
print(x)

3.3333333333333335

In [ ]:
x = float(input("Dame un número para multiplicar "))
z = x // 5
print(z)

In [ ]:
cateto_a = float(input("Inserta la longitud del primer cateto: "))
cateto_b = float(input("Inserta la longitud del segundo cateto "))
hipo = (cateto_a**2 + cateto_b**2) ** .5
print("La longitud de la hipotenusa es: ", hipo)

In [ ]:
nom = input("¿Me puedes dar tu nombre por favor? ")
ape = input("¿Me puedes dar tu apellido por favor? ")
print("Gracias.")
print("\nTu nombre es " + nom + " " + ape + ".")

In [ ]:
#Indicando un valor de incremento por cada repetición o iteración
for x in range (1,10,2):
    print(x)

In [ ]:
# Lista de valores
frutas = ["naranja", "platano", "sandia", "melon", "guayaba"]
numeros = [1, 5, 3, 8, 99]
for x in frutas:
    print(x)
    #puedo usar la instruccion break para salir del ciclo
    if x == "melon":
        break

In [ ]:
##Simplificacion de operaciones

x= 5
x**= 3
print(x)

In [ ]:
# Tabla de multiplicar
valor = int(input("¿Qué valor deseas multiplicar?"))
for i in range (1,11):
    print(valor, "x", i, "=", valor*i)