# Unidad 3

## Dylan Jovani Reyes Rendon 19041355

### Trabajos Hechos en Clase

### Funciones

In [8]:
def mi_funcion_hola():
    print("Hola Mundo, desde mi funcion")

In [9]:
mi_funcion_hola()

Hola Mundo, desde mi funcion

In [10]:
mi_funcion_hola()

Hola Mundo, desde mi funcion

In [39]:
# Tabla de multiplicar del 2
for z in range(1,2):
    print(2, "por", z, "=", 2*1)
for z in range(2,3):
    print(2, "por", z, "=", 2*2)
for z in range(3,4):
    print(2, "por", z, "=", 2*3)
for z in range(4,5):
    print(2, "por", z, "=", 2*4)    
for z in range(5,6):
    print(2, "por", z, "=", 2*5)
for z in range(6,7):
    print(2, "por", z, "=", 2*6)
for z in range(7,8):
    print(2, "por", z, "=", 2*7)
for z in range(8,9):
    print(2, "por", z, "=", 2*8)
for z in range(9,10):
    print(2, "por", z, "=", 2*9)
for z in range(10,11):
    print(2, "por", z, "=", 2*10)

2 por 1 = 2
2 por 2 = 4
2 por 3 = 6
2 por 4 = 8
2 por 5 = 10
2 por 6 = 12
2 por 7 = 14
2 por 8 = 16
2 por 9 = 18
2 por 10 = 20

In [23]:
def Tablas_multiplicar(x):
    for z in range(1,11):
        print(x, "por", z, "=", x * z)

In [40]:
Tablas_multiplicar(4)

4 por 1 = 4
4 por 2 = 8
4 por 3 = 12
4 por 4 = 16
4 por 5 = 20
4 por 6 = 24
4 por 7 = 28
4 por 8 = 32
4 por 9 = 36
4 por 10 = 40

In [13]:
Tablas_multiplicar(7)

7 por 1 = 7
7 por 2 = 14
7 por 3 = 21
7 por 4 = 28
7 por 5 = 35
7 por 6 = 42
7 por 7 = 49
7 por 8 = 56
7 por 9 = 63
7 por 10 = 70

In [14]:
Tablas_multiplicar(50)

50 por 1 = 50
50 por 2 = 100
50 por 3 = 150
50 por 4 = 200
50 por 5 = 250
50 por 6 = 300
50 por 7 = 350
50 por 8 = 400
50 por 9 = 450
50 por 10 = 500

In [16]:
Tablas_multiplicar(1543250)

1543250 por 1 = 1543250
1543250 por 2 = 3086500
1543250 por 3 = 4629750
1543250 por 4 = 6173000
1543250 por 5 = 7716250
1543250 por 6 = 9259500
1543250 por 7 = 10802750
1543250 por 8 = 12346000
1543250 por 9 = 13889250
1543250 por 10 = 15432500

In [31]:
def CalcularDoble(qaz):
    qaz=qaz*2
    return qaz

In [33]:
x = CalcularDoble(6)
print(x)

12

In [34]:
x = CalcularDoble(81)
print(x)

162

In [42]:
x = CalcularDoble(500)
print(x)

1000

In [2]:
def CalcularTriple(qaz):
    qaz=qaz*3
    return qaz

In [3]:
x = CalcularTriple(15)
print(x)

45

## Paso de parametros en su posicion

In [11]:
# Paso de parametros respecto a su posicion
def presentar(PrimerNombre, SegundoNombre):
    print("Hola, mi nombre es:", PrimerNombre, SegundoNombre)
presentar("Luke",  "Skylwalker")
presentar("Jesse", "Quick")
presentar("Clark", "Kent")

Hola, mi nombre es: Luke Skylwalker
Hola, mi nombre es: Jesse Quick
Hola, mi nombre es: Clark Kent

In [17]:
def presentar(PrimerNombre, SegundoNombre, Edad):
    print("Hola, mi nombre es:", PrimerNombre, SegundoNombre, "Mi edad es:", Edad)
presentar("Skylwalker",  "Luke", 8)
presentar("Quick", "Jesse", 5)
presentar("Kent", "Clark", 23)

Hola, mi nombre es: Skylwalker Luke Mi edad es: 8
Hola, mi nombre es: Quick Jesse Mi edad es: 5
Hola, mi nombre es: Kent Clark Mi edad es: 23

## Paso de parametros en su posicion palabras clave (Nombre del parametro)

#### Los valores pasados a los parametros son precedidos por el nombre del parametro al que se le va a pasar el valor, seguido del signo de =

In [8]:
def presentar(PrimerNombre, SegundoNombre):
    print("Hola, mi nombre es:", PrimerNombre, SegundoNombre)
presentar(PrimerNombre = "James", SegundoNombre = "Bond")
presentar(PrimerNombre = "Skylwalker", SegundoNombre = "Luke")

Hola, mi nombre es: James Bond
Hola, mi nombre es: Skylwalker Luke

In [12]:
def presentar(PrimerNombre, SegundoNombre):
    print("Hola, mi nombre es:", PrimerNombre, SegundoNombre)
presentar("James", "Bond")
presentar(SegundoNombre = "Skylwalker", PrimerNombre = "Luke")

Hola, mi nombre es: James Bond
Hola, mi nombre es: Luke Skylwalker

In [15]:
# Especificar un parametro con un valor por defecto
def presentar(PrimerNombre, SegundoNombre="Gonzales"):
    print("Hola, mi nombre es:", PrimerNombre, SegundoNombre)
presentar("Juan", "Escarpita")
presentar("Pedro")

Hola, mi nombre es: Juan Escarpita
Hola, mi nombre es: Pedro Gonzales

In [16]:
# Error si no asignamos un valor a la segunda variable
def presentar(PrimerNombre, SegundoNombre):
    print("Hola, mi nombre es:", PrimerNombre, SegundoNombre)
presentar("Juan", "Escarpita")
presentar("Pedro")

Hola, mi nombre es: Juan Escarpita

TypeError: presentar() missing 1 required positional argument: 'SegundoNombre'