# Unidad 3

## Dylan Jovani Reyes Rendon 19041355

### Trabajos Hechos en Clase

### Funciones

In [1]:
def mi_funcion_hola():
    print("Hola Mundo, desde mi funcion")

In [9]:
mi_funcion_hola()

Hola Mundo, desde mi funcion

In [10]:
mi_funcion_hola()

Hola Mundo, desde mi funcion

In [39]:
# Tabla de multiplicar del 2
for z in range(1,2):
    print(2, "por", z, "=", 2*1)
for z in range(2,3):
    print(2, "por", z, "=", 2*2)
for z in range(3,4):
    print(2, "por", z, "=", 2*3)
for z in range(4,5):
    print(2, "por", z, "=", 2*4)    
for z in range(5,6):
    print(2, "por", z, "=", 2*5)
for z in range(6,7):
    print(2, "por", z, "=", 2*6)
for z in range(7,8):
    print(2, "por", z, "=", 2*7)
for z in range(8,9):
    print(2, "por", z, "=", 2*8)
for z in range(9,10):
    print(2, "por", z, "=", 2*9)
for z in range(10,11):
    print(2, "por", z, "=", 2*10)

2 por 1 = 2
2 por 2 = 4
2 por 3 = 6
2 por 4 = 8
2 por 5 = 10
2 por 6 = 12
2 por 7 = 14
2 por 8 = 16
2 por 9 = 18
2 por 10 = 20

In [2]:
def Tablas_multiplicar(x):
    for z in range(1,11):
        print(x, "por", z, "=", x * z)

In [4]:
Tablas_multiplicar(10)

10 por 1 = 10
10 por 2 = 20
10 por 3 = 30
10 por 4 = 40
10 por 5 = 50
10 por 6 = 60
10 por 7 = 70
10 por 8 = 80
10 por 9 = 90
10 por 10 = 100

In [13]:
Tablas_multiplicar(7)

7 por 1 = 7
7 por 2 = 14
7 por 3 = 21
7 por 4 = 28
7 por 5 = 35
7 por 6 = 42
7 por 7 = 49
7 por 8 = 56
7 por 9 = 63
7 por 10 = 70

In [14]:
Tablas_multiplicar(50)

50 por 1 = 50
50 por 2 = 100
50 por 3 = 150
50 por 4 = 200
50 por 5 = 250
50 por 6 = 300
50 por 7 = 350
50 por 8 = 400
50 por 9 = 450
50 por 10 = 500

In [16]:
Tablas_multiplicar(1543250)

1543250 por 1 = 1543250
1543250 por 2 = 3086500
1543250 por 3 = 4629750
1543250 por 4 = 6173000
1543250 por 5 = 7716250
1543250 por 6 = 9259500
1543250 por 7 = 10802750
1543250 por 8 = 12346000
1543250 por 9 = 13889250
1543250 por 10 = 15432500

In [31]:
def CalcularDoble(qaz):
    qaz=qaz*2
    return qaz

In [33]:
x = CalcularDoble(6)
print(x)

12

In [34]:
x = CalcularDoble(81)
print(x)

162

In [42]:
x = CalcularDoble(500)
print(x)

1000

In [2]:
def CalcularTriple(qaz):
    qaz=qaz*3
    return qaz

In [3]:
x = CalcularTriple(15)
print(x)

45

## Paso de parametros en su posicion

In [11]:
# Paso de parametros respecto a su posicion
def presentar(PrimerNombre, SegundoNombre):
    print("Hola, mi nombre es:", PrimerNombre, SegundoNombre)
presentar("Luke",  "Skylwalker")
presentar("Jesse", "Quick")
presentar("Clark", "Kent")

Hola, mi nombre es: Luke Skylwalker
Hola, mi nombre es: Jesse Quick
Hola, mi nombre es: Clark Kent

In [17]:
def presentar(PrimerNombre, SegundoNombre, Edad):
    print("Hola, mi nombre es:", PrimerNombre, SegundoNombre, "Mi edad es:", Edad)
presentar("Skylwalker",  "Luke", 8)
presentar("Quick", "Jesse", 5)
presentar("Kent", "Clark", 23)

Hola, mi nombre es: Skylwalker Luke Mi edad es: 8
Hola, mi nombre es: Quick Jesse Mi edad es: 5
Hola, mi nombre es: Kent Clark Mi edad es: 23

## Paso de parametros en su posicion palabras clave (Nombre del parametro)

#### Los valores pasados a los parametros son precedidos por el nombre del parametro al que se le va a pasar el valor, seguido del signo de =

In [8]:
def presentar(PrimerNombre, SegundoNombre):
    print("Hola, mi nombre es:", PrimerNombre, SegundoNombre)
presentar(PrimerNombre = "James", SegundoNombre = "Bond")
presentar(PrimerNombre = "Skylwalker", SegundoNombre = "Luke")

Hola, mi nombre es: James Bond
Hola, mi nombre es: Skylwalker Luke

In [12]:
def presentar(PrimerNombre, SegundoNombre):
    print("Hola, mi nombre es:", PrimerNombre, SegundoNombre)
presentar("James", "Bond")
presentar(SegundoNombre = "Skylwalker", PrimerNombre = "Luke")

Hola, mi nombre es: James Bond
Hola, mi nombre es: Luke Skylwalker

In [4]:
# Especificar un parametro con un valor por defecto
def presentar(PrimerNombre, SegundoNombre="Gonzales"):
    print("Hola, mi nombre es:", PrimerNombre, SegundoNombre)
presentar("Juan", "Escarpita")
presentar("Pedro")

Hola, mi nombre es: Juan Escarpita
Hola, mi nombre es: Pedro Gonzales

In [5]:
# Error si no asignamos un valor a la segunda variable
def presentar(PrimerNombre, SegundoNombre):
    print("Hola, mi nombre es:", PrimerNombre, SegundoNombre)
presentar("Juan", "Escarpita")
presentar("Pedro")

Hola, mi nombre es: Juan Escarpita

TypeError: presentar() missing 1 required positional argument: 'SegundoNombre'

## Alcance de las variables en funciones

In [18]:
def scopeTest():
    x = 123
scopeTest()
print(x)

NameError: name 'x' is not defined

In [8]:
def miFuncion():
    print("¿Conozco la variable?", var)
var = 1 
miFuncion()
print(var)

¿Conozco la variable? 2
2

In [14]:
# Arroja el valor dentro de la funcion sobre el valor global
def miFuncion():
    var = 2
    print("¿Conozco la variable?", var)
var = 1
miFuncion()
print(var)

¿Conozco la variable? 2
1

In [16]:
def miFuncion():
    global var
    var = 2
    print("¿Conozco a aquella variable?", var)
var = 1
miFuncion()
print(var)

¿Conozco a aquella variable? 2
2

In [19]:
def miFuncion(n):
    print("Yo obtuve", n)
    n += 1
    print("Yo ahora tengo", n)
    
var = 1
miFuncion(var)
print(var)

Yo obtuve 1
Yo ahora tengo 2
1

In [20]:
def imc(peso, altura):
    return peso / altura ** 2
print(imc(52.5, 160))

0.00205078125

In [23]:
def imc(peso, altura):
    if altura < 1.0 or altura > 2.5 or  peso < 20 or peso > 200:
        return None
    
    return peso / altura ** 2

print(imc(352.5, 1.65))

None

In [1]:
def imc(peso, altura):
    if altura < 1.0 or altura > 2.5 or  peso < 20 or peso > 200:
        return None
    
    return peso / altura ** 2

print(imc(92, 1.82))

27.77442337881898

In [4]:
mitupla = (1,10,100)
t1 = mitupla + (1000, 10000)
t2 = mitupla * 3

print(len(t2))
print(t1)
print(t2)
print(10 in mitupla)
print(-10 not in mitupla)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

In [5]:
mitupla = (1, 10, 100, 1000)
del mitupla(0)

SyntaxError: cannot delete function call (<ipython-input-5-7610f7084dd1>, line 2)

In [11]:
mitupla = (1, 10, 100, 1000)
del mitupla(1) = -10

SyntaxError: invalid syntax (<ipython-input-11-c19f30b730f6>, line 2)

## Diccionarios en Python

In [10]:
dict = {"gato" : "chat", "perro" : "chien", "caballo" : "cheval"}
numerosTelefono = {'jefe' : 5551234567, 'Suzy' : 22657854310}
permisososEstudiantes = {"" : ""}

print(dict)
print(numerosTelefono)
print(permisososEstudiantes)

{'gato': 'chat', 'perro': 'chien', 'caballo': 'cheval'}
{'jefe': 5551234567, 'Suzy': 22657854310}
{'': ''}

In [21]:
dict = {"gato" : "chat", "perro" : "chien", "caballo" : "cheval"}
numerosTelefono = {'jefe' : 5551234567, 'Suzy' : 22657854310}
permisosEstudiantes = {"captura_cali_parciales" : "False", "Kardex" : "True"}
permisosDocentes = {"captura_cali_parciales" : "False", "Kardex" : "True"}
permisosCoordinadores = {"captura_cali_parciales" : "False", "Kardex" : "True"}

diccionarioVacio = {}

print(dict)
print(numerosTelefono)
print(diccionarioVacio)
print(permisososEstudiantes)
print(permisosDocentes)
print(permisosCoordinadores)

{'gato': 'chat', 'perro': 'chien', 'caballo': 'cheval'}
{'jefe': 5551234567, 'Suzy': 22657854310}
{}
{'captura_cali_parciales': 'False', 'Kardex': 'True'}
{'captura_cali_parciales': 'False', 'Kardex': 'True'}
{'captura_cali_parciales': 'False', 'Kardex': 'True'}

In [16]:
dict = {"gato" : "chat", "perro" : "chien", "caballo" : "cheval"}

words = {'gato', 'leon', 'caballo'}

for word in words:
    if word in dict:
        print(word, "->", dict[word])
    else:
        print(word, "no esta en el diccionario")

gato -> chat
caballo -> cheval
leon no esta en el diccionario

In [14]:
dict = {"gato" : "chat", "perro" : "chien", "caballo" : "cheval"}

for key in dict.keys():
    print(key, "->", dict[key])

gato -> chat
perro -> chien
caballo -> cheval

In [15]:
# Ordenar las Claves
dict = {"gato" : "chat", "perro" : "chien", "caballo" : "cheval"}

for key in sorted (dict.keys()):
    print(key, "->", dict[key])

caballo -> cheval
gato -> chat
perro -> chien